@import url('https://fonts.googleapis.com/css?family=Lato:300|VT323');
body{
  background-color: black;
}
a, a:visited{
  color: lime;
  text-decoration: none;
  font-size: 30px;
  font-family: 'VT323', monospace;
  padding-left: 10px;
}
a:hover{
  text-decoration: underline;
}

.container{
  text-align: center;
  padding-top: 5%;
}
.content{
  font-family: 'Lato', sans-serif;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 10px;
  font-size: 20px;
  text-indent: 20px;
}
p{
  font-family: 'Lato', sans-serif;
  line-height: 24px;
  color: lime;
}
h1{
  text-align: center;
  font-family: 'VT323', monospace;
  font-size: 45px;
  color: lime;
}
h2{
  text-align: center;
  font-family: 'VT323', monospace;
  font-size: 35px;
  color: lime;
}
h3{
  text-align: center;
  font-family: 'VT323', monospace;
  font-size: 30px;
}
footer{
  text-align: center;
  align-self: baseline;
}
nav{
  padding-bottom: 5%;
}
hr{
  box-sizing:content-box;
  height:0;
  overflow:visible;
  color: lime;
}
.footer{
  font-size: 20px;
  width: 100%;
  align-items: center;
}
