@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:700|VT323");
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);
body {
  background-color: #111111;
  max-width: 55rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}
nav a,
nav a:visited {
  font-size: 45px;
}

a,
a:visited {
  font-family: "VT323", monospace;
  padding-left: 25px;
  margin-right: 15px;
  color: #a6e22e;
  text-decoration: none;
  padding: 0;
}
a:hover {
  color: #111111;
  background-color: #a6e22e;
}
.container {
  text-align: center;
  margin-top: 8%;
}
.content {
  font-family: 'Fira Code', sans-serif;
  display: block;
  margin: 0 1rem;
  font-size: 18px;

}
.heading {
  text-align: center;
}
p {
  font-family: 'Fira Code', sans-serif;
  line-height: 24px;
  color: #a6e22e;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}
ul{
  color: #a6e22e;
}
h1 {
  text-align: center;
  font-family: "VT323", monospace;
  font-size: 45px;
  color: #a6e22e;

}
h2 {
  text-align: left;
  font-family: "VT323", monospace;
  font-size: 45px;
  color: #a6e22e;
}
h3 {
  text-align: center;
  font-family: "VT323", monospace;
  font-size: 30px;
}
footer {
  text-align: center;
  align-self: baseline;
}
nav {
  padding-bottom: 5%;
}
hr {
  border: 1px solid #a6e22e;
  //box-sizing: content-box;
  //height: 0;
  //overflow: visible;
  //color: #a6e22e;
}
footer {
  font-size: 26px;
  align-items: center;
}
#quote{
  font-family: 'Fira Code', sans-serif;
}
footer p{
  margin-top: 5%;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
}

canvas{
  border: 1px solid #a6e22e;
}
#quote{
  font-size: 24px;
}
