@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:700|VT323);
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);
body {
  background-color: #111;
  max-width: 55rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}
nav a,
nav a:visited {
  font-size: 45px;
}
.inline,
a,
a:visited {
  color: #a6e22e;
  text-decoration: none;
  padding: 0;
  font-family: "VT323", monospace;
}
a,
a:visited {
  margin-right: 15px;
}
.inline {
  display: inline;
  font-size: 26px;
  margin: 0;
}
a:hover {
  color: #111;
  background-color: #a6e22e;
}
.container {
  text-align: center;
  margin-top: 8%;
}
.content {
  font-family: "Fira Code", sans-serif;
  display: block;
  margin: 0 1rem;
  font-size: 18px;
}
li a {
  font-size: 26px;
}
.heading {
  text-align: center;
}
#quote,
p {
  font-family: "Fira Code", sans-serif;
}
p {
  line-height: 24px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
h1,
h2,
p,
ul {
  color: #a6e22e;
}
h1,
h2 {
  font-size: 45px;
}
h2 {
  text-align: left;
}
footer,
h1,
h3 {
  text-align: center;
}
h1,
h2,
h3 {
  font-family: "VT323", monospace;
}
h3 {
  font-size: 30px;
}
footer {
  align-self: baseline;
  font-size: 26px;
  align-items: center;
}
nav {
  padding-bottom: 5%;
}
canvas,
hr {
  border: 1px solid #a6e22e;
}
#quote {
  font-size: 24px;
}
footer p {
  margin-top: 5%;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
}
b.USC-red {
  color: #e22e4c;
  font-weight: 400;
}
b.Sterling-red,
b.USC-gold {
  font-weight: 400;
  color: #feb95f;
}
b.Sterling-red {
  color: #ed1c24;
}
b.Columbia-blue {
  font-weight: 400;
  color: #75aadb;
}
b.Sailpoint-blue {
  font-weight: 400;
  background-color: #023197;
  padding-left: 4px;
  padding-right: 4px;
}
